{% load static %}

{% block body %}

{% include 'user_navigation.html' %}
<style>
 tr{text-align:center}
</style>


<marquee style = "font-family : 'Monotype Corsiva'; font-size : 25px; color: darkcyan ; background-color: black ; font-weight: bold; margin-top: 1%">
    Apply For Job
</marquee>
<hr>
<div class="container shadow-lg py-2 mb-2">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <label class="font-weight-bold">Upload Resume</label>
        <input type="file" class="form-control" name="resume">

    </div>
    <input type="submit" value="Submit" class="btn btn-danger mt-3">
</form>

</div>
{% ifequal error "done" %}
<script>
    alert("Apply Successful");
    window.location = ('{% url 'user_latestjobs' %}')
</script>
{% endifequal %}

{% ifequal error "close" %}
<script>
    alert("Application line are closed date over");
    window.location = ('{% url 'user_latestjobs' %}')
</script>
{% endifequal %}
{% ifequal error "notopen" %}
<script>
    alert("Application line is not open");
    window.location = ('{% url 'user_latestjobs' %}')
</script>
{% endifequal %}
{% endblock  %}