{% load static %}

{% block body %}

{% include 'user_navigation.html' %}

<script>
    function checkpass()
    {
    if(document.changepassword.newpassword.value!=document.changepassword.confirmpassword.value)
    {
    alert('New Pass and Confirm Pass Doesn't Match);
    document.changepassword.confirmpassword.focus();
    return false;
    }
    return true;
    }
</script>

<h1 style = "font-family : 'Monotype Corsiva'; font-size : 25px; color: darkcyan ; background-color: black ; font-weight: bold; margin-top: 1%" class="text-center">
    Change Password
</h1>
<hr>
<form class ="container mt-5" method="post" name="changepassword" onsubmit="return checkpass()">
    {%csrf_token %}
    <label><b>Current Password</b></label>
    <input type="password" class="form-control" name="currentpassword" required="true">

     <label><b>New Password</b></label>
    <input type="password" class="form-control" name="newpassword" required="true">

     <label><b>Confirm New Password</b></label>
    <input type="password" class="form-control" name="confirmpassword" required="true">


    <input type="submit" class="btn-primary" style="margin-top: 2%; color: darkcyan; background-color: black; height : 40px ; font-size: 20px">
</form>

{% ifequal error "no" %}
<script>
    alert("Password Changed Successfully");
    window.location = ('{% url 'Logout' %}')
</script>
{% endifequal %}
{% ifequal error "yes" %}
<script>
    alert("Something went wrong try again....");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Current Password Is Wrong");
</script>
{% endifequal %}

{% endblock  %}