{% load static %}

{% block body %}

{% include 'navigation.html' %}
<style>
    .container{
    max-width : 90%
    }
    .content{
    text-align:center;
    position:absolute;
    bottom:0;
    background:rgba(0,0,0,0.5);
    color : white;
    height:30px;
    width:91%;
    }
</style>

<div class="container-fliud " style="margin-top:1%">
    <img src="https://i.ibb.co/5hw1T6Q/Online-Job-Portal.png" style="height:100%;width:100%">
</div>
<div class="container" style="background-color : black;height:650px;margin-top:2%">
<h1 class="text-center text-white">----------| Our Placed Students |----------</h1>
    <div class="row mt-3">
        <div class="col-md-3">
            <img src="https://i.ibb.co/NYmFWJh/asfak.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>Airtel</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="https://i.ibb.co/wsDN49d/fagun.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>Acer</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="https://i.ibb.co/zPx3F2N/ismail.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>Compaq Inc.</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="https://i.ibb.co/ng0SzXB/masud.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>Airtel</p>
            </div>
        </div>
    </div>

     <div class="row mt-3">
        <div class="col-md-3">
            <img src="https://i.ibb.co/7K5QTZ0/sihab.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>Cisco Network</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="https://i.ibb.co/ZNqB3qD/sumon.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>ATT Corporation</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="https://i.ibb.co/ZX7FYcn/tarik.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>ABB Solution</p>
            </div>
        </div>

        <div class="col-md-3">
            <img src="https://i.ibb.co/9VkQc1w/turza.jpg" style="width:100% ;margin-top:5%;height:200px;border-radius:50%">
            <div class="content">
                <p>Adform Solution</p>
            </div>
        </div>
    </div>

</div>
{% include 'footer.html' %}
{% endblock%}